<div class="outages">
    <div ng-repeat="outage in outages" ng-hide="noresults">
    	<div class="item list">
	        <h4>{{isExists(outage.commercial_company_name) ? outage.commercial_company_name : outage.utility_company_name}}</h4>
	        {{outage.county}} County, {{outage.state}}<br />
	        <a href="" ng-click="getMap($event, outage.outage_map_url)">Open Outage Map</a>
    	</div>
    </div>
	<div ng-show="noresults" class="no-results">
		<span class="icon-yellow" aria-hidden="true"></span> No outage maps for this location.
	</div>
</div>

<small><strong>Disclaimer:</strong> Add Your Disclaimer Here!</small>